# Eagle
#
*_eagle/*.s#?
*_eagle/*.b#?
*_eagle/*.l#?
*_eagle/*.b$?
*_eagle/*.s$?
*_eagle/*.l$?
*_eagle/*.s#*
*_eagle/*.b#*
*_eagle/*.lck
*_eagle/eagle.epf



# spice
#
*_sim/*/*.net
*_sim/*/*.op
*_sim/*/*.raw
*_sim/*/*.lnk
*_sim/*/*.log


# MicroC Pro for PIC
# SRC: https://www.gitignore.io/api/mikroc
#
_c/*/*.workspace
_c/*/*.log
_c/*/*.bmk
_c/*/*.brk
_c/*/*.cfg
_c/*/*.dbg
_c/*/*.dct
_c/*/*.dlt
_c/*/*.hex
_c/*/*.lst
_c/*/*.dic
_c/*/*_callertable.txt
_c/*/*.user.dic
_c/*/*.asm
_c/*/*.c.ini
_c/*/*.h.ini
_c/*/*.cp
_c/*/*.mcl
